.popup {
  background-color: rgba(0, 0, 0, 0.5);
<<<<<<< HEAD
=======
  /* display: none; */
>>>>>>> b449052f8d0c9b684fb081ded64c49c53e0d4e34
  display: flex;
  font-family: "Inter", Arial, sans-serif;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  visibility: hidden;
  opacity: 0;
  transition: visibility 0.5s, opacity 0.5s linear;
}
