.profile {
  max-width: 880px;
  margin: 77px auto 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

@media (max-width: 953px) {
  .profile {
    margin-left: 27px;
    margin-right: 27px;
  }
}

@media (max-width: 790px) {
  .profile {
    flex-direction: column;
  }
}