.profile__name {
  max-width: 450px;
  width: 100%;
  margin: 0;
  font-weight: 500;
  font-size: 42px;
  line-height: 48px;
}

@media (max-width: 420px) {
  .profile__name {
    font-size: 27px;
    line-height: 33px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
  }
}